**/*.min.css
**/*.min.js
assets/css/main.scss
assets/plotly/demo.html
lighthouse_results
_posts/2015-10-20-math.md
_pages/publications.md
_config.yml
_includes/scripts/jekyll_tabs.liquid
_layouts/post.liquid
_pages/about.md
_pages/awards.md
_pages/education.md
_pages/experience.md
_posts/2024-05-09-C4AI-Roads-To-Research-Talk1.md
_posts/2024-05-29-Fqlearn-Ternary-Plot.md
_posts/2024-06-20-ECCO-Vs-TGs-Affected-By-Hurricane-Maria.md
_sass/_tabs.scss
assets/js/distillpub/template.v2.js
